<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Boot</key>
    <dict>
        <key>DefaultLoader</key>
        <string>steamcl.efi</string>
        <key>Timeout</key>
        <integer>8</integer>
    </dict>
    <key>GUI</key>
    <dict>
        <key>Custom</key>
        <dict>
            <key>Entries</key>
            <array>
                <dict>
                    <key>Disabled</key>
                    <false/>
                    <key>FullTitle</key>
                    <string>SteamOS</string>
                    <key>Image</key>
                    <string>os_linux.png</string>
                    <key>Path</key>
                    <string>\EFI\steamos\steamcl.efi</string>
                    <key>Type</key>
                    <string>Linux</string>
                    <key>VolumeType</key>
                    <string>Internal</string>
                </dict>
                <dict>
                    <key>Disabled</key>
                    <false/>
                    <key>FullTitle</key>
                    <string>Windows</string>
                    <key>Image</key>
                    <string>os_win11.png</string>
                    <key>Path</key>
                    <string>\EFI\Microsoft\Boot\bootmgfw.efi</string>
                    <key>Type</key>
                    <string>Windows</string>
                    <key>VolumeType</key>
                    <string>Internal</string>
                </dict>
            </array>
        </dict>
        <key>Language</key>
        <string>en:0</string>
        <key>Mouse</key>
        <dict>
            <key>Enabled</key>
            <false/>
        </dict>
        <key>Scan</key>
        <dict>
            <key>Entries</key>
            <true/>
            <key>Kernel</key>
            <string>None</string>
            <key>Legacy</key>
            <false/>
            <key>Tool</key>
            <false/>
        </dict>
        <key>ScreenResolution</key>
        <string>1280x800</string>
        <key>TextOnly</key>
        <false/>
        <key>Theme</key>
        <string>zhoukeer-phantom</string>
    </dict>
</dict>
</plist>
