[Unit]
Description=Renkit Clover boot order repair

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/systemd/system/clover-bootmanager.sh

[Install]
WantedBy=multi-user.target
