<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Author</key>
    <string>周克儿工具箱</string>
    <key>Description</key>
    <string>自定义怪盗与掌机开机主题</string>
    <key>Theme</key>
    <dict>
        <key>Background</key>
        <dict>
            <key>Dark</key>
            <true/>
            <key>Path</key>
            <string>background.png</string>
            <key>Type</key>
            <string>Scale</string>
        </dict>
        <key>BootCampStyle</key>
        <false/>
        <key>Components</key>
        <dict>
            <key>Banner</key>
            <false/>
            <key>Functions</key>
            <true/>
            <key>Help</key>
            <true/>
            <key>Label</key>
            <true/>
            <key>MenuTitle</key>
            <false/>
            <key>Revision</key>
            <false/>
        </dict>
        <key>Font</key>
        <dict>
            <key>CharWidth</key>
            <integer>10</integer>
            <key>Path</key>
            <string>font.png</string>
            <key>Proportional</key>
            <true/>
            <key>Type</key>
            <string>Load</string>
        </dict>
        <key>Layout</key>
        <dict>
            <key>BannerOffset</key>
            <integer>20</integer>
            <key>ButtonOffset</key>
            <integer>42</integer>
            <key>SelectionBigWidth</key>
            <integer>144</integer>
            <key>SelectionSmallWidth</key>
            <integer>64</integer>
            <key>TileXSpace</key>
            <integer>64</integer>
            <key>TileYSpace</key>
            <integer>32</integer>
            <key>Vertical</key>
            <false/>
        </dict>
        <key>Origination</key>
        <dict>
            <key>DesignHeight</key>
            <integer>800</integer>
            <key>DesignWidth</key>
            <integer>1280</integer>
        </dict>
        <key>Selection</key>
        <dict>
            <key>Big</key>
            <string>selection_big.png</string>
            <key>Color</key>
            <string>0xE63323CC</string>
            <key>Small</key>
            <string>Selection_small.png</string>
        </dict>
    </dict>
    <key>Year</key>
    <string>2026</string>
</dict>
</plist>
